html {
  background-color: #555;
}

h1 {
  margin: 0px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

p {
  margin: 0px auto;
  color: #fff;
  width: 75%;
}

.container-fluid {
  background-color: #333;
}

#head-bar {
    border: none;
}

.navbar {
  margin: 0px;
  box-shadow: 0 2px 20px 0 #222, 0 6px 20px 0 #222;
}

 .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .header-list-item{
  color: #fff;
}

#main {
  background-color: #555;
}

.first-section{
  background-color: #333;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2px 20px 0 #222, 0 6px 20px 0 #222;
}
