html {
  background-color: #333;
}

.container-fluid {
  background-color: darkgrey;
  border: none;
}

#head-bar {
    border: none;
}

#brand {
  color: #333;
}

#hamburger-shrink {
  color: #333;
}

.navbar-toggle .collapsed .nav-toggle-border {
    border-color: #333;
}
