html {
  background-color: #555;
}

h1 {
  margin: 0px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

p {
  margin: 0px auto;
  color: #fff;
  width: 75%;
}

.container-fluid {
  background-color: #333;
}

#head-bar {
    border: none;
}

.navbar {
  margin: 0px;
  box-shadow: 0 2px 20px 0 #222, 0 6px 20px 0 #222;
}

 .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .header-list-item{
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #555;
}

.navbar-inverse .navbar-nav>li>a:active{
  background-color: #555;
}

#main {
  background-color: #555;
}

.main-section{
  background-color: #333;
  width: 75%;
  margin: 100px auto;
  box-shadow: 0 2px 20px 0 #222, 0 6px 20px 0 #222;
}

button.accordion {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #777;
}

div.panel {
    padding: 0 18px;
    background-color: #555;
    border-radius: 0px;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0px;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}
